.img {
  display: inline-block;
  width: 50vw;
   padding: 5px;
   margin-top: 0;
  vertical-align: top;

}
.img1 {
width: 40vw;
}
.text {
  display: inline-block;
  border: 5px;
  width: 40vw;
  vertical-align: top;
  margin-top: 0;
}
